.card {
  position: relative;
  display: flex;
  gap: 12px;
  padding: 3px;
  border-radius: 18px;
  background: #161616;
  margin-bottom: 3px;
  color: white;
  width: 90%;
  min-height: clamp(100px, 18vw, 140px);
}

.left {
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.right {
  width: 65%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.title {
  text-align: start;
  font-size: 18px;
  font-weight: 700;
  flex: 0 0 40%;
  margin: 2px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  height: 70%;
}

.icon {
  height: 80%;
  width: auto;

  object-fit: contain;

  flex-shrink: 0;
}

.tagLabel {
  font-size: 14px;

  font-weight: 600;
}

.day {
  font-size: 12px;

  opacity: 0.6;
}

.history {
  flex: 1;
  display: flex;
  width: 85%;
  gap: 8px;
  scroll-padding: 50%;

  overflow-x: auto;
  padding-bottom: 4px;

  scroll-snap-type: x mandatory;

  -webkit-overflow-scrolling: touch;
}

.historyItem {
  position: relative;
  min-width: 110px;
  transform: scale(0.9);
  flex-shrink: 0;
  scroll-snap-align: center;
}

.history::-webkit-scrollbar {
  display: none;
}

.historyItem p {
  font-size: 12px;

  opacity: 0.7;

  margin-bottom: 6px;
}

.historyItem strong {
  font-size: 16px;
}

.activeHistoryItem {
  transform: scale(1);
  background: #161616;
  border: 1px solid #f3d10e;
  border-radius: 10px;
}

.closeBtn {
  position: absolute;
  top: 3px;
  right: 3px;
}
